{% extends '../base/base.html' %}

{% block content %}
    <div class="main_menu row">
        <div class="col">

            <button class="menu_button row" onclick="document.location='{% url 'inspections_menu' %}'">
                Новые осмотры
            </button>
            <br>

            <button class="menu_button row" onclick="document.location='{% url 'inspections_table' %}'">
                Проведенные осмотры
            </button>
            <br>

            <button class="menu_button row" onclick="document.location='{% url 'inspection_templates' %}'">
                Редактирование шаблонов осмотров
            </button>
            <br>
            <br>
            <br>
            <button class="menu_button row">
                Выход
            </button>
        </div>
    </div>
{% endblock %}