{% extends '../base/base.html' %}


{% block header %}
    {% if form.template_name.value == "" %}
        Редактирование шаблона
    {% else %}
        Редактирование шаблона "{{ form.template_name.value|lower }}"
    {% endif %}
{% endblock %}

{% block content %}
    {{ form.media }}

    <button class="button" onclick="document.location='{% url 'inspection_templates' %}'">Назад</button>
    <form method="post">{% csrf_token %}

        <h5>{{ form.complaints.label }}</h5>
        {{ form.complaints }}

        <h5>{{ form.anamnesis.label }}</h5>
        {{ form.anamnesis }}

        <h5>{{ form.diagnosis.label }}</h5>
        {{ form.diagnosis }}

        <h5>{{ form.additionally.label }}</h5>
        {{ form.additionally }}

        <br>
        <input align="center" class="button submit_button" type="submit" value="Сохранить">
    </form>

{% endblock %}