{% extends '../base/base.html' %}

{% block header %}
    Новые осмотры
{% endblock %}


{% block content %}
    {% if departments|length > 5 %}
        <div class="menu row ">
    {% else %}
        <div class="menu row center_objects">
    {% endif %}
<div class="col">
    {% for dep in departments %}
        <button class="menu_button row" onclick="document.location='{% url 'inspection_new' dep.id %}'">
            {{ dep.name }}
        </button>
        <br>
    {% endfor %}
    <button class="menu_button row" onclick="document.location='{% url 'main_menu' %}'">
        Назад
    </button>
</div>
</div>
{% endblock %}